* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */



/* BODY */
.main {
    overflow-y: auto;
    background-color: yellow;
    height: calc(100vh - 100px);
    background-color: yellow;
    display: flex;
}

.sidebar {
    background-color: black;
    flex-basis: 50px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.main-content {
    flex-grow: 1;
    background-color: aqua;
    overflow: auto;
}

footer {
    height: 100px;
    background-color: grey;
    flex-shrink: 0;
}

header {
    height: 100px;
    background-color: rgba(128, 128, 128, 0.226);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

/* SIDEBAR */

.sidebar-navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin: 10px 0 10px 0;
}

.icon {
    width: 30px;
    vertical-align: middle;
}

.sidebar-break-line {
    border-bottom: 1px solid white;
    width: 80%;
    margin: 0 auto;
    display: none;
}

.icon-name {
    display: none;
    margin-left: 5px;
}

.big-logo {
    display: none;
}

.download-icon {
    width: 20px;
}

.profile-icon {
    width: 30px;
    border-radius: 50%;
    background-color: grey;
}