* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
 
.flex {
    display: flex;
}


/* BODY */
.main {
    overflow-y: auto;
    background-color: yellow;
    height: calc(100vh - 100px);
    background-color: yellow;
    display: flex;
}

.sidebar {
    background-color: black;
    flex-basis: 50px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.main-content {
    flex-grow: 1;
    background-color: rgb(20,25,34);
    overflow: auto;
    color: white;
}

footer {
    height: 100px;
    background-color: rgb(40,40,40);
    flex-shrink: 0;
}

header {
    height: 100px;
    background-color: rgba(128, 128, 128, 0.226);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

/* SIDEBAR */

.sidebar-navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin: 10px 0 10px 0;
}

.icon {
    width: 30px;
    vertical-align: middle;
}

.sidebar-break-line {
    border-bottom: 1px solid white;
    width: 80%;
    margin: 0 auto;
    display: none;
}

.icon-name {
    display: none;
    margin-left: 5px;
}

.big-logo {
    display: none;
}

.download-icon {
    width: 20px;
}

.profile-icon {
    width: 30px;
    border-radius: 50%;
    background-color: grey;
}

/* HEADER */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-upgrade {
    padding: 10px 20px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 20px;
    color: white;
    margin-right: 5px;
}

/* FOOTER */

.playbar {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.row-playbar {
    flex-basis: calc(100% / 3);
    align-items: center;

}

.sinister-playbar {
    max-width: 35px;
}

.music-name-playbar {
    color: white;
    padding: 6px;
    font-size: 12px;
}

.like-save {
    color: white;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.row-pb-right {
    color: white;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    justify-content: flex-end;

}

.volume-bar {
    max-height: 5px;
    border-radius: 2px;
    width: 80px;
    background-color: grey;
}

.volume-bar-level {
    height: 5px;
    border-radius: 2px;
    width: 30%;
    background-color: rgb(219, 215, 215);
}

.center-playbar {
    /* flex-grow: 1; */
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.music-bar-buttons {
    flex-direction: row;
    width: 100%;
    gap: 10px;
    align-items: center;
    color: white;
}

.play-buttons {
    color: white;
    font-size: 26px;
    gap: 20px;
    margin-bottom: 10px;
}

.music-bar {
    height: 5px;
    border-radius: 2px;
    width: 100%;
    background-color: grey;
}

.music-bar-level {
    height: 5px;
    border-radius: 2px;
    width: 30%;
    background-color: rgb(219, 215, 215);
}