* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

img {
    max-width: 70%;
}

/* BODY */
.main {
    overflow-y: auto;
    background-color: yellow;
    height: calc(100vh - 100px);
    background-color: yellow;
    display: flex;
}

.sidebar {
    background-color: pink;
    flex-basis: 50px;
    flex-shrink: 0;
}

.main-content {
    flex-grow: 1;
    background-color: aqua;
    overflow: auto;
}


footer {
    height: 100px;
    background-color: grey;
    flex-shrink: 0;
}

header {
    height: 100px;
    background-color: rgba(128, 128, 128, 0.226);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}